﻿box-activity {

    .box{
        border: solid 2px #DDD;
        margin-bottom:10px;
        background-color: #FFF;
        font-family: 'Montserrat', sans-serif;
        }

    .category {
        border-bottom: solid 1px #DDD;
        height:36px;

        .title{
            float:left;
            line-height:36px;
            padding-left: 15px;
            color: #666;
        }

        .color{
            width: 12px;
            float:right;
            height: 100%;
            background-color: #337916;
        }
    }

    .activity {
        padding: 0px 15px;

        .title {
            line-height: 45px;
            font-size: 16px;
            text-decoration: underline;
            display: inline;
        }

        .icons {
            display: inline;
            float: right;
            padding: 5px 0px;

            div {
                font-size: 24px;
                display: inline;
                cursor: pointer;
            }

            .bookmark {
                padding: 0px 10px;
                color: #888;

                &:hover{
                    color: #C3C3C3;
                }
            }

            .addToBasket {
                color: #0C50A5;

                &:hover{
                    color: #85A7D2;
                }
            }

            .fa-plus{
                font-size:16px;
                vertical-align: middle;
                top: -0.3em;
                position: relative;
             }

            .fa-check{
                color: yellowgreen;
                cursor: default;
                font-size:30px;
                padding-left: 5px;
            }

            .fa-bookmark{
                color: #075493;
            }

        }

        .info {
            line-height:30px;
            padding-top: 5px;
            padding-bottom: 10px;
            color: #888;

            i{
                font-size: 24px;
                padding-right:5px;
                color: #666;
            }
        }

        .description {
            color: #888;
        }

        .buttons {
            padding: 10px;

            button {
                width: 100%;
                margin: 5px 0px;
            }
        }
    }

    .secondaryButtons {
        border-top: solid 1px #DDD;
        padding: 10px 15px;

        i{
            font-size: 16px;
            color: #666;
        }

        a {
            text-decoration:underline;
        }
    }
}