﻿<template>
    <require from="./box-activity.css"></require>

    <div class="box">
        <div class="category">
            <div class="title">${activity.category}</div>
            <div class="color"></div>
        </div>
        <div class="activity">

            <div class="heading">
                <div class="title">
                    <a href="">${activity.name}</a>
                </div>
                <div class="icons">
                    <div class="bookmark" click.trigger="Bookmark()">
                        <i class="fa fa-bookmark-o"></i>
                    </div>
                    <div class="addToBasket" click.trigger="AddToBasket()">
                        <i class="fa fa-plus"></i><i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
            </div>

            <div class="info row">
                <div class="type col-md-5">
                    <i class="fa fa-file-text-o"></i>
                    <span>${activity.type}</span>
                </div>
                <div class="hours col-md-7">
                    <i class="fa fa-clock-o"></i>
                    <span>${activity.hours}</span>
                </div>
            </div>

            <div class="description">${activity.description}</div>

            <div class="buttons row gutter-5">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-primary">Register</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-default">View</button>
                </div>
            </div>
        </div>

        <div class="secondaryButtons">
            <i class="fa fa-cog"></i>
            <span>
                <a href="">Common tasks</a>
            </span>
        </div>
    </div>
</template>