﻿navigation-bar{
    .navbar{
        position: fixed;
        z-index: 1000;
        width: 100%;
    }

    & > #page-content-wrapper {
        padding: 20px;
        padding-top: 70px;
        position: relative;
    }
}