﻿body {
  margin: 0; }

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box; }

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px; }

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto; }

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit; } }

section {
  margin: 0 20px; }

.navbar-nav li.loader {
  margin: 12px 24px 0 6px; }

.pictureDetail {
  max-width: 425px; }

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s; }

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms; }

.card-container.au-enter {
  opacity: 0 !important; }

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s; }

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: #88acd9;
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.card .content {
  margin-top: 10px; }

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  font-size: 18px; }

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0; }

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100; }

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid; }

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.test {
  text-align: center; }

/**
 * (C)Leanest CSS spinner ever
 */
@keyframes spin {
  to {
    transform: rotate(1turn); } }

.progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8); }
  .progress.small {
    font-size: 6px; }
  .progress.large {
    font-size: 24px; }
  .progress:before, .progress:after,
  .progress > div:before,
  .progress > div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2.25em;
    /* (container width - part width)/2  */
    width: .5em;
    height: 1.5em;
    border-radius: .2em;
    background: #eee;
    box-shadow: 0 3.5em #eee;
    /* container height - part height */
    transform-origin: 50% 2.5em;
    /* container height / 2 */ }
  .progress:before {
    background: #555; }
  .progress:after {
    transform: rotate(-45deg);
    background: #777; }
  .progress > div:before {
    transform: rotate(-90deg);
    background: #999; }
  .progress > div:after {
    transform: rotate(-135deg);
    background: #bbb; }

