﻿<template bindable="router">
    <require from="./navigation-side.css"></require>

    <div class="wrapper" id="collapse-menu">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        ${router.title}
                    </a>
                </li>
                <li repeat.for="row of router.navigation">
                    <a href.bind="row.href">${row.title}</a>
                </li>
            </ul>
        </div>

        <content select="navigation-bar"></content>
</template>