<template>
    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="components/navigation-side/navigation-side"></require>
    <require from="components/navigation-bar/navigation-bar"></require>

    <navigation-side>
        <navigation-bar>
            <router-view></router-view>
        </navigation-bar>
    </navigation-side>
</template>
