﻿<template>
    <section>
        <require from="components/box-activity/box-activity"></require>
        <form role="form" class="col-lg-10 col-lg-offset-1 well" submit.delegate="submit()">
            <div class="form-group col-lg-4">
                <label for="fn">Category Name</label>
                <input type="text" value.bind="activity.category" class="form-control" id="fn" placeholder="Category Name">
            </div>
            <div class="form-group col-lg-4">
                <label for="ln">Activity Name</label>
                <input type="text" value.bind="activity.name" class="form-control" id="ln" placeholder="Activity Name">
            </div>
            <div class="form-group col-lg-2">
                <label for="fn">Type</label>
                <input type="text" value.bind="activity.type" class="form-control" id="fn" placeholder="Type">
            </div>
            <div class="form-group col-lg-2">
                <label for="ln">Hours</label>
                <input type="text" value.bind="activity.hours" class="form-control" id="ln" placeholder="Hours">
            </div>
            <div class="form-group col-lg-12">
                <label for="fn">Description</label>
                <input type="text" value.bind="activity.description" class="form-control" id="fn" placeholder="Description">
            </div>
            <button type="submit" class="btn btn-primary center-block">Save activity</button>
        </form>

        <div ref="spinner" class="col-lg-12 center-block text-center hide">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>

        <div repeat.for="act of activities">
            <box-activity activity.bind="act" class="col-lg-4 col-md-6 col-sm-12"></box-activity>
        </div>

    </section>
</template>
