<template>
    <section>
        <h2>${heading}</h2>
        <form role="form" submit.delegate="submit()">
            <div class="form-group">
                <label for="fn">First Name</label>
                <input type="text" value.bind="firstName" class="form-control" id="fn" placeholder="first name">
            </div>
            <div class="form-group">
                <label for="ln">Last Name</label>
                <input type="text" value.bind="lastName" class="form-control" id="ln" placeholder="last name">
            </div>
            <div class="form-group">
                <label>Full Name</label>
                <p class="help-block">${fullName}</p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
</template>
